<template>
    <div >
        <div class="item-block" v-on:mouseenter="focus" v-on:mouseleave="node.isOnFocus = false">
            <div v-if="!isEditing" class="item-title" :class="{active:node.isOnFocus, updating:node.isUpdating, opened: isOpen}" >
                <div class="icon"></div> {{ node.name }} {{ node.id }}
            </div>
            <div v-else class="item-title" :class="node.isOnFocus ? 'active' : ''"  >
                <input v-model="node.name" /> {{ node.id }}
            </div>
            <div v-show="node.isOnFocus" class="item-controls">
                <span class="button open" :class="{is_opened: isOpen}" v-if="node.children" v-on:click="toggle"></span>
                <span class="button delete" v-on:click="removeNode"></span>
                <span class="button save" v-if="isEditing" v-on:click="saveNode"></span>
                <span class="button edit" v-else v-on:click="editNode"></span>
            </div>
        </div>
        <div style="clear: both"></div>
        <draggable v-on:change="onChange" group="node"  :list="node.children" class="list-group" draggable=".draggable-item">
            <div v-show="isOpen" class="draggable-item" v-bind:key="child.id" v-for="child in node.children">
                <node :node="child" :unFocusAll="unFocusAll"></node>
            </div>
            <span v-show="isOpen" slot="footer" class="button add-node" v-on:click="createNode">+</span>
        </draggable>
    </div>
</template>

<script>
    import { updateNode, deleteNode } from "../util/ws";
    import draggable from "vuedraggable";

    export default {
        name: "node",
        props: ['node', 'unFocusAll'],
        components: {
            draggable
        },
        data: function() {
            return {
                isOpen: true,
                isEditing: false,
                oldName: "",
            }
        },
        methods: {
            toggle() {
                this.isOpen = !this.isOpen;
            },
            focus() {
                this.unFocusAll();
                this.$set(this.node, 'isOnFocus',true);
            },
            onChange(data) {
                if (data.added) {
                    data.added.element.parentId = this.node.id;
                    data.added.element.isUpdating = true;
                    updateNode(data.added.element);
                }
            },
            saveNode() {
                this.isEditing = !this.isEditing;
                this.node.isUpdating = true;
                updateNode(this.node);
                this.node.name = this.oldName;
            },
            editNode() {
                this.isEditing = !this.isEditing;
                this.oldName = this.node.name;
            },
            createNode() {
                updateNode({
                    parentId: this.node.id,
                    name: "new one"
                });
            },
            removeNode() {
                this.node.isUpdating = true;
                deleteNode(this.node);
            }
        },
        created() {
            if (!this.node.children)    {
                this.$set(this.node, 'children',[]);
                this.isOpen = true;
            }
            this.$set(this.node, "isUpdating", false)
        }
    }
</script>

<style>
    .item-block {
        height: 20px;
    }
    .button, .item-title {
        cursor: pointer;
    }
    .item-title .icon {
        background-image: url('/image/folder-closed.png');
        background-size: 20px;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        float: left;
    }
    .item-title.opened .icon {
        background-image: url('/image/folder-opened.png');
    }
    .item-title.updating .icon {
        background-image: url('/image/loading.gif');
    }
    .item-title {
        float: left;
        background-color: #ebebeb;
        border-radius: 5px;
        padding: 5px;
        margin: 3px;
        width: -moz-fit-content;
        width: fit-content;
    }
    .item-title.active {
        background-color: #c7c7c7;
    }
    .item-title.updating {}
    .item-controls {}
    .list-group {
        margin-left: 30px
    }
    .item-controls span {
        display: inline-block;
        width: 20px;
        background-size: 20px;
        background-repeat: no-repeat;
        height: 20px;
    }
    span.save {
        background-image: url('/image/content-save.png');
    }
    span.edit {
        background-image: url('/image/square-edit-outline.png');
    }
    span.delete {
        background-image: url('/image/close-circle.png');
    }
    span.open {
        background-image: url('/image/plus-box.png');
    }
    span.open.is_opened {
        background-image: url('/image/minus-box.png');
    }

    .add-node:hover {
        background-color: #c7c7c7;
    }
</style>