<template>
    <div>
        <node v-if="treeData" :node="treeData" :unFocusAll="unFocusAll"></node>
        <span class="add-node" v-else v-on:click="addRoot">+</span>
    </div>
</template>

<script>
    import axios from 'axios'
    import Node from './components/Node'
    import {updateNode, addHandler} from "./util/ws";
    import { insertNode, deleteNode} from "./util/node-functions";
    //import {insertNode} from "./util/collections";


    export default {
        name: 'App',
        components: {
            Node
        },
        data: function() {
            return {
                treeData: null
            }
        },
        methods: {
            addRoot() {
                let node = {
                    name: "Root node",
                    root: true,
                };
                updateNode(node);
            },
            unFocusAll(curNode) {
                if (curNode == null) {
                    curNode = this.treeData;
                }
                this.$set(curNode, 'isOnFocus',false);
                if (curNode.children) {
                    curNode.children.forEach(child =>{
                        this.unFocusAll(child)
                    })
                }
            }
        },
        created() {
            axios
                .get('/node/root')
                .then(response => {
                    this.treeData = response.data;
                });
            addHandler(data => {
                if (data.deleted) {
                    if (data.id == this.treeData.id) {
                        this.treeData = null;
                    }
                    else {
                        deleteNode(data, this.treeData)
                    }
                }
                else {
                    if (data.root) {
                        this.treeData = data;
                    }
                    else {
                        insertNode(data, this.treeData);
                    }
                }
            });
        }
    }
</script>

<style>
    body {
        font-family: Menlo, Consolas, monospace;
        color: #444;
        user-select: none;
    }
    ul {
        list-style: none;
    }
    .add-node {
        cursor: pointer;
        background-color: #ebebeb;
        border-radius: 5px;
        display: block;
        width: 20px;
        margin-left: 3px;
        text-align: center;
    }
</style>
